@mixin flexAlign($hor: center, $ver: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $ver;
    flex-direction: $pos;
}

body {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: lightgray;
    @include flexAlign;
}

.container {
    width: 50%;
    min-width: 350px;
    @include flexAlign($pos: column);

    &__list {
        box-shadow: 0 0 10px 0 black;
        background: gray;
        padding: 5px;
        width: 100%;
        max-height: 500px;
        box-sizing: border-box;
        @include flexAlign($pos: column);
        overflow: hidden;
        overflow-y: auto;
    }
}

.task {
    width: 100%;
    min-height: 40px;
    margin-bottom: 5px;
    @include flexAlign(flex-start);
    padding: 0 15px;
    box-sizing: border-box;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    //flex-shrink: 0; //сохраняет размер блока по всем осям

    &__complete {
        margin-right: 10px;

        &:checked ~ .task__name {
            text-decoration: line-through;
        }
    }

    

    &__number {
        font-size: 18px;
        margin-right: 10px;
    }

    &__name {
        font-style: italic;
        font-weight: bold;
    }

    &:last-child {
        margin-bottom: 0;
    }
}